.project
.settings
.cproject
*.swp
*.out
*.log
*.o
*.txt
*.1
*.2
*.3
bin/*
sbin/*
aux/*
src/lib/build/
lib/*
!aux/.please_save
*Man*
man/man5/*

conf/conf.h
conf/conf.ipw
conf/conf.mk
conf/config.status
conf/host.h
doc/html/man*
doc/html/pgmrGuide/lib*
doc/html/pgmrGuide/syscmds.html
doc/html/userGuide/categories/
h/*
make/bin/*
src/lib/libgctp/Functions.html
src/lib/libgctp/gctp/Functions.html
src/lib/libimage/Functions.html
src/lib/libimage/error/Functions.html
src/lib/libimage/image/Functions.html
src/lib/libimage/mask/Functions.html
src/lib/libipw/Functions.html
src/lib/libipw/bih/Functions.html
src/lib/libipw/crh/Functions.html
src/lib/libipw/datetime/Functions.html
src/lib/libipw/error/Functions.html
src/lib/libipw/fpio/Functions.html
src/lib/libipw/geoh/Functions.html
src/lib/libipw/gethdrs/Functions.html
src/lib/libipw/hdrio/Functions.html
src/lib/libipw/horh/Functions.html
src/lib/libipw/lqh/Functions.html
src/lib/libipw/main/Functions.html
src/lib/libipw/mapproj/Functions.html
src/lib/libipw/math/Functions.html
src/lib/libipw/orh/Functions.html
src/lib/libipw/pixio/Functions.html
src/lib/libipw/sath/Functions.html
src/lib/libipw/skewh/Functions.html
src/lib/libipw/strvec/Functions.html
src/lib/libipw/sunh/Functions.html
src/lib/libipw/uio/Functions.html
src/lib/libipw/units/Functions.html
src/lib/libipw/util/Functions.html
src/lib/libipw/winh/Functions.html
src/lib/libmodel/Functions.html
src/lib/libmodel/envphys/Functions.html
src/lib/libmodel/radiation/Functions.html
src/lib/libmodel/snow/Functions.html
src/lib/libmodel/solar/Functions.html
src/lib/libsnobal/Functions.html
src/lib/libsnobal/snobal/Functions.html
src/lib/libstropts/Functions.html
src/lib/libtopo/Functions.html
src/lib/libtopo/topo/Functions.html
src/lib/shell/CmdList.html
src/lib/shell/isposint
src/lib/shell/sherror
src/lib/shell/usage


*IPWmacros
*.hlp
src/bin/*
src/sbin/*
!*/Makefile
!.please_save
