.project
.settings
.cproject
*.swp
*.out
*.log
*.o
*.txt
*.1
*.2
*.3
bin/*
sbin/*
aux/*
src/lib/build/
lib/*
!aux/.please_save
*Man*
man/man5/*
*.man

conf/conf.h
conf/conf.ipw
conf/conf.mk
conf/config.status
conf/host.h
doc/html/man*
doc/html/pgmrGuide/lib*
doc/html/pgmrGuide/syscmds.html
doc/html/userGuide/categories/
h/*
make/bin/*
*IPWmacros
*.hlp
src/bin/*
src/sbin/*
!*/Makefile
!.please_save
src/lib/libgctp/Functions.html
src/lib/libgctp/gctp/Functions.html
src/lib/libimage/Functions.html
src/lib/libimage/error/Functions.html
src/lib/libimage/image/Functions.html
src/lib/libimage/mask/Functions.html
src/lib/libipw/Functions.html
src/lib/libipw/bih/Functions.html
src/lib/libipw/crh/Functions.html
src/lib/libipw/datetime/Functions.html
src/lib/libipw/error/Functions.html
src/lib/libipw/fpio/Functions.html
src/lib/libipw/geoh/Functions.html
src/lib/libipw/gethdrs/Functions.html
src/lib/libipw/hdrio/Functions.html
src/lib/libipw/horh/Functions.html
src/lib/libipw/lqh/Functions.html
src/lib/libipw/main/Functions.html
src/lib/libipw/mapproj/Functions.html
src/lib/libipw/math/Functions.html
src/lib/libipw/orh/Functions.html
src/lib/libipw/pixio/Functions.html
src/lib/libipw/sath/Functions.html
src/lib/libipw/skewh/Functions.html
src/lib/libipw/strvec/Functions.html
src/lib/libipw/sunh/Functions.html
src/lib/libipw/uio/Functions.html
src/lib/libipw/units/Functions.html
src/lib/libipw/util/Functions.html
src/lib/libipw/winh/Functions.html
src/lib/libmodel/Functions.html
src/lib/libmodel/envphys/Functions.html
src/lib/libmodel/radiation/Functions.html
src/lib/libmodel/snow/Functions.html
src/lib/libmodel/solar/Functions.html
src/lib/libsnobal/Functions.html
src/lib/libsnobal/snobal/Functions.html
src/lib/libstropts/Functions.html
src/lib/libtopo/Functions.html
src/lib/libtopo/topo/Functions.html
src/lib/shell/CmdList.html
src/lib/shell/isposint
src/lib/shell/sherror
src/lib/shell/usage
tests/Bin/cmpverb
tests/Bin/cmpverb.sh
tests/Bin/le2be
tests/Bin/striphist
tests/Bin/testdeltas
tests/Data/elev.78
tests/Data/elev.78.hdr
tests/Outputs/elev.78.data
tests/addtime
tests/advec
tests/akintrp
tests/albedo
tests/bin2text
tests/bitcom
tests/bmask
tests/bowvap
tests/classeq
tests/classify
tests/clmask
tests/cmpimg
tests/cnhist
tests/cnhist.all
tests/convolve
tests/crossval
tests/cvtime
tests/declass
tests/deltaT
tests/deltaz
tests/dem2ipw
tests/demux
tests/despike
tests/dewpt
tests/dither
tests/edhdr
tests/edimg
tests/elevrad
tests/ezint
tests/fillbands
tests/flip
tests/gelevrad
tests/ggradient
tests/ghorizon
tests/glob.alb
tests/gradient
tests/grhist
tests/grid2ipw
tests/gshade
tests/gsnow
tests/gsunlight
tests/gsunweights
tests/gtoporad
tests/gtoporad.24
tests/gtopquad
tests/gviewf
tests/gviewf-mp
tests/hcnx
tests/hist
tests/histeq
tests/hor1d
tests/horizon
tests/humidx
tests/iadd
tests/ialbedo
tests/idewpt
tests/iinterp
tests/imath
tests/imgstat
tests/imgsum
tests/indvi
tests/interp
tests/ipmx
tests/ipott
tests/iptx
tests/ipw
tests/ipw2bin
tests/ipw2grid
tests/ipw2hds
tests/ipw2pbm
tests/ipw2pgm
tests/ipw2ppm
tests/ipw2ps
tests/ipw2sun
tests/ipw2xim
tests/ipwfile
tests/ipwinterp
tests/irh2vp
tests/isatvp
tests/isnobal
tests/istatgraph
tests/istatrel
tests/itrbxfr
tests/itrim
tests/lincom
tests/lqhx
tests/lqmm
tests/lutx
tests/mkbih
tests/mkcrh
tests/mkgeoh
tests/mklqh
tests/mklut
tests/mkprecip
tests/mkproj
tests/mksath
tests/mksunh
tests/mkwinh
tests/mse
tests/mstats
tests/msurface
tests/msurfprep
tests/mult
tests/mux
tests/ninterp
tests/normalize
tests/pbm2ipw
tests/penmanx
tests/pix2fp
tests/pmask
tests/pmx
tests/poly
tests/pott
tests/prhdr
tests/primg
tests/proport
tests/ptaylorx
tests/ptx
tests/qdint
tests/random
tests/randomize
tests/refdx
tests/reproj
tests/reproj_area
tests/requant
tests/resamp
tests/rh2vp
tests/rmhdr
tests/rotate
tests/satvp
tests/scale
tests/selevrad
tests/seq
tests/shade
tests/skew
tests/sling
tests/smooth
tests/snowmass
tests/soiltmp
tests/solar
tests/srftmp
tests/stoporad
tests/sunang
tests/sunlight
tests/surface
tests/swe
tests/swp
tests/tcloud
tests/text2bin
tests/text2ipw
tests/thermin
tests/tmpt
tests/toporad
tests/toporad.24
tests/topotherm
tests/topquad
tests/trad
tests/transcoord
tests/transpose
tests/trb_Ri
tests/trbxfr
tests/twostream
tests/viewcalc
tests/viewf
tests/vptr
tests/wbal
tests/wedge
tests/window
tests/zoom
tests/zpr




